<!-- views/partials/footer.ejs -->

<footer>
    <div class="container">
      <div class="nav">
        <ul>
          <li><a href="/">Etusivu</a></li>
          <li><a href="/about">Tietoa</a></li>
          <li><a href="/services">Palvelut</a></li>
          <li><a href="/blog">Blogi</a></li>
          <li><a href="/contact">Yhteystiedot</a></li>
        </ul>
        <ul>
          <li><a href="/privacy-policy">Rekisteriseloste</a></li>
          <li><a href="/cookie-policy">Ev채steseloste</a></li>
        </ul>
      </div>
      <div class="social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="maps">
        <a href="https://maps.google.com/?q=local+service+business"><i class="fa fa-map-marker"></i> N채yt채 kartalla</a>
      </div>
    </div>
    <div class="creator">
      <p>Copyright <%= currentYear %> Local Service Business</p>
      <p>Sivuston tekij채: <a href="https://www.ilarischmidt.com/">Ilari Schmidt</a></p>
    </div>
  </footer>
  