<header>
    <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
    <nav>
      <ul>
        <li><a href="/">Etusivu</a></li>
        <li><a href="/about">Tietoa</a></li>
        <li><a href="/services">Palvelut</a></li>
        <li><a href="/blog">Blogi</a></li>
        <li><a href="/contact">Yhteystiedot</a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Hero header for the page -->
  <div class="hero">
    <h1><%= pageTitle %></h1>
  </div>