<nav>
    <ul>
      <li><a href="/">Etusivu</a></li>
      <li><a href="/about">Tietoa</a></li>
      <li><a href="/services">Palvelut</a></li>
      <li><a href="/blog">Blogi</a></li>
      <li><a href="/contact">Yhteystiedot</a></li>
    </ul>
  </nav>